API_KEY=key
AWS_ACCESS_KEY=jjalkdjsfklsadjfdskal
AWS_SECRET_KEY=jfaskllsjadfslakasfdsdafsdfsafdsfdfvdfdfvfdvf
AWS_BUCKET=jhasfdgjhsdfaghjsagdfjhkd
KEY_TO_SCRAPE=lskadfjsdlkfjflksafsjf
FILE_PATH_RESULT=results.json